<!DOCTYPE html>
<html>
  <head>
    <title>Weather</title>
	 <link rel="stylesheet" href="Style.css">
  </head>
  <body>
    <div id="outline">
      <header id="top"><span id="w1"> 🌤️ Weather Chat Bot</span></header>
	  <main>
	  <div id="tempr">
	  <aside>
		<h1 id="loc">Chennai</h1>
		<h1 id="deg">32 °C</h1>
		<h2 id="cli">Cloudy</h2>
		<h2 id="lon">H:76° L:59°</h2>
		</aside>
	  </div>
	  <div id="chatb">
	  <div id="htxt"></div>
		<img src="bot.png" width="400px">
	  </div>
	  </main>
	  <footer>
	    <input type="text" class="text-input" placeholder="Type your message...">
		<button class="send-button"><span id="ch">></span></span></button></button>
	  </footer>
    </div>
  </body>
</html>
