<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
              background-color: #eef2f3;
              padding: 30px; 
              text-align: center;
        }
        input{
            height: 30px;
        }
        #txt{
            width: 270px;
        }
    </style>
    <title>Document</title>
</head>
<body>
        <h1>🌤️ Weather Chatbot (Web Version)</h1>
    <form action="">
        <input type="text" name="" id="txt" placeholder="Enter the city name">
        <input type="button" value="Get Weather">
    </form>
</body>
</html>